.virtues-list {
  display: flex;
  justify-content: space-between;
}

.virtues-item-icon {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
  margin-bottom: 30px;
}
.virtues-item {
  width: 270px;
}
.virtues-caption {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.virtues-slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
